* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

/* units in css */

/* px and % */
/* % is dependent on parent and px is fixed */

/* #box{
    height: 200px;
    width: 200px;
    background-color: red;
} */

/* vw & vh 
vw-viewport width depending on screen width
vh- depending on viewport height
*/

/* #box{
    height: 20vh;
    width: 20vw;
    background-color: red;
} */

/* vmax & vmin
vmax-choose viewport which is maximum dynamically
vmin-changes as per the smallest viewport dynamically
*/

/* #box{
    height: 20vmax;
    width: 20vmax;
    background-color: red;
} */

/* em & rem
em-change as per parent font size, for padding depend on current element font size
rem- change as per root font size which is 16px
*/

/* #parent{
    height: 400px;
    width: 400px;
    background-color: rgb(91, 204, 167);
    font-size: 10px;
}
h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
} */

/* #parent{
    height: 400px;
    width: 400px;
    background-color: rgb(91, 204, 167);
}
h1{
    font-size: 4rem;
}
h3{
    font-size: 2rem;
} */

/* ch & lh  */

/* h1{
    width:20ch;
} */

/* p{
    margin-top: 2lh;
} */

/* .parent{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;
    background-color: aquamarine;
    overflow-x: auto;
    flex-wrap: wrap;
    color: white;
    align-content: flex-start;
}
.child1{
    width: 200px;
    height: 200px;
    background-color: blue;
    flex-shrink: 0;
}
.child2{
    width: 200px;
    height: 200px;
    background-color: rgb(139, 7, 99);
    flex-shrink: 0;
}
.child3{
    width: 200px;
    height: 200px;
    background-color: rgb(23, 190, 5);
    flex-shrink: 0;
}
.oo{
    align-self: flex-start;
    order:1; 
} */

/* the element with lowest order comes first, by default sbka zero hota hai */

/* // flex grow tell how element will grow compared to others
 */

/* // flex basis how much initial width for flex direction row and height for flex direction column */

/* grid-template-columns: repeat(auto-fill,200px); ye khega ku jitne 200px ke column bn sakte hai bnao chahe khali ho , aur auto-fit khta hai khali waale collapse krdo */
/* grid-template-columns: repeat(auto-fit,minmax(200px,1fr));  */
/* grid-auto-rows: 200px;  YE BROWSER APNE AP ROW BANEGA 200PX KI*/
/* justify-content: space-between; */
/* align-items: center; */
/* grid-area: 1/1/3/4; */

/*   grid ara ko hum name bhi de skte hai pr yaad rkho grid-template-areas ka rule hai ki named area rectangle hona chahiye aur . empty cell denote krta hai grid-area:rowstart column start row end column end  is ko grid-row aur grid-column me todke bhi likh skte hai */
/* .parent{
display: grid;
height: 100vh;
padding: 20px;
gap: 10px;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(3,100px);


}
.child1{
    background-color: rgb(1, 75, 75);
    width: 100px;
    height: 100px;

}
.child2{
    background-color: rgb(75, 1, 1);
     width: 100px;
    height: 100px;
}
.child3{
    background-color: rgb(114, 74, 6);
}
.child4{
    background-color: rgb(16, 101, 1);
}
.child5{
    background-color: rgb(124, 108, 2);
    min-height: 100px;
}
.child6{
    background-color: rgb(98, 4, 79);
    min-height: 100px;
} */

/* .parent{
    width:100%;
    height: 1500px;
    background-color: rgb(116, 115, 115);
padding: 1rem;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: burlywood;
}
.anthr{
    background-color: rgb(150, 150, 149);
} */
/* .box2{
    width: 200px;
    height: 200px;
    background-color: rgb(135, 222, 136);
  position: absolute;
  right: 0px;
  top: 0px;
} */
/* .box2{
    width: 200px;
    height: 200px;
    background-color: rgb(135, 222, 136);
  position: fixed;
  right: 0px;
  bottom: 0px;
} */
/* .box2{
    width: 200px;
    height: 200px;
    background-color: rgb(135, 222, 136);
  position: sticky;
  right: 0px;
  top: 0px;
} */
/* .box2{
    width: 200px;
    height: 200px;
    background-color: rgb(135, 222, 136);
  position: relative;
  right: 0px;
  top: 0px;
} */
/* .box3{
    width: 300px;
    height: 300px;
    background-color: rgb(222, 135, 186);
} */

/* .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 168, 151);
  color: white;
  transition: transform .3s ease-in .1s, background-color .5s ease .2s;
} */
/* transform: rotate(180deg); rotates in z axis  means axis coming towards us from screen */
/* transform:rotate(1turn); 1 turn means move 360deg */
/* By default the center for rotation is assumed element center but it can be changed using transorm-origin */
/* transform-origin: top center; */
/* .box:hover {
  transform: rotate(180deg);
} */
/*  .box:hover{
    transform: translate(-50%, -50%);
 } */
/* transform: translate(20px, 10px);  first is x axis value 2nd y axis */
/* we can also use translateX , translateY */
/*  .box:hover{
    
    transform: scale(2);
 } */

/* transform: scale(2);  scales from center in both horizontal and vertical direc */
/* transform: scale(4, 1.5);  4x :horizontal 1.5x vertical */
/* transform: scale(-4, 1.5); negative value will flip the element */

/*  transform: scale(0, 1.5); makes element invisible

val>1 grow
val<1 shrink */

/* by default scaling start with center as reference but it can be changed transform-origin: top left; */

/*  .box:hover{
    
    transform: skewX(20deg); 
transform: skewX(-20deg);
transform: skewY(20deg);
transform: skewY(-20deg);
 } */

/*  skewX() → horizontal slant (left-right distortion)
skewY() → vertical slant (up-down distortion) */

/* unit are turn deg rad */

/* by default elements skews around center can be changecd via transform-originjj */

/* matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */

/* .box:hover{
transform: matrix(1,0,0,1,20,30);
} */
/* .box:hover {
  transform: translate(50px, 20px) rotate(45deg) scale(1.2) skewX(10deg);
}
 */

 /* Matrix is the mathematical representation used internally by the browser for transforms. In practice, developers usually use translate, rotate, scale, and skew directly. */


/* .box:hover{
    transform:skew(18deg);
    background-color: burlywood;
} */

/* ease:speed up in middle
ease in: speed up in :end
ease out starts fast
linear: constant speed from start to end
steps: for step by step transition
cubic-beizer:for cutom animation with value x1 y1 x2 y2 */
/* Defines a custom animation speed curve.
First control point affects how the animation starts.
Second control point affects how the animation ends.
x values represent time.
y values represent progress. */
/* transition: transitionProperty transitionDuration TransitionTimingFunction TransitionDelay,other property */
/* if we want to animate more than one property we can animate using a comma in transition 
and for animating all properties just use all keyword */


/* div{
    border: 2px solid black;
    height:60px;
overflow: auto;
} */
/*  overflow: visible;This is the default.
 overflow: hidden;Use when you want a clean fixed area.
Important: the hidden part still exists in the DOM, but the user cannot see it or scroll to it.
  overflow: clip;
   overflow-clip-margin: 20px;
    overflow: scroll;Scrollbars are always shown, even if content fits.box */