*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

/* units in css */

/* px and % */
/* % is dependent on parent and px is fixed */


/* #box{
    height: 200px;
    width: 200px;
    background-color: red;
} */

/* vw & vh 
vw-viewport width depending on screen width
vh- depending on viewport height
*/

/* #box{
    height: 20vh;
    width: 20vw;
    background-color: red;
} */


/* vmax & vmin
vmax-choose viewport which is maximum dynamically
vmin-changes as per the smallest viewport dynamically
*/

/* #box{
    height: 20vmax;
    width: 20vmax;
    background-color: red;
} */

/* em & rem
em-change as per parent font size, for padding depend on current element font size
rem- change as per root font size which is 16px
*/

/* #parent{
    height: 400px;
    width: 400px;
    background-color: rgb(91, 204, 167);
    font-size: 10px;
}
h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
} */


/* #parent{
    height: 400px;
    width: 400px;
    background-color: rgb(91, 204, 167);
}
h1{
    font-size: 4rem;
}
h3{
    font-size: 2rem;
} */

/* ch & lh  */

/* h1{
    width:20ch;
} */

/* p{
    margin-top: 2lh;
} */

/* .parent{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;
    background-color: aquamarine;
    overflow-x: auto;
    flex-wrap: wrap;
    color: white;
    align-content: flex-start;
}
.child1{
    width: 200px;
    height: 200px;
    background-color: blue;
    flex-shrink: 0;
}
.child2{
    width: 200px;
    height: 200px;
    background-color: rgb(139, 7, 99);
    flex-shrink: 0;
}
.child3{
    width: 200px;
    height: 200px;
    background-color: rgb(23, 190, 5);
    flex-shrink: 0;
}
.oo{
    align-self: flex-start;
    order:1; 
} */

/* the element with lowest order comes first, by default sbka zero hota hai */

/* // flex grow tell how element will grow compared to others
 */

 /* // flex basis how much initial width for flex direction row and height for flex direction column */

/* grid-template-columns: repeat(auto-fill,200px); ye khega ku jitne 200px ke column bn sakte hai bnao chahe khali ho , aur auto-fit khta hai khali waale collapse krdo */
/* grid-template-columns: repeat(auto-fit,minmax(200px,1fr));  */
/* grid-auto-rows: 200px;  YE BROWSER APNE AP ROW BANEGA 200PX KI*/
/* justify-content: space-between; */
/* align-items: center; */
    /* grid-area: 1/1/3/4; */

  /*   grid ara ko hum name bhi de skte hai pr yaad rkho grid-template-areas ka rule hai ki named area rectangle hona chahiye aur . empty cell denote krta hai grid-area:rowstart column start row end column end  is ko grid-row aur grid-column me todke bhi likh skte hai */
/* .parent{
display: grid;
height: 100vh;
padding: 20px;
gap: 10px;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(3,100px);


}
.child1{
    background-color: rgb(1, 75, 75);
    width: 100px;
    height: 100px;

}
.child2{
    background-color: rgb(75, 1, 1);
     width: 100px;
    height: 100px;
}
.child3{
    background-color: rgb(114, 74, 6);
}
.child4{
    background-color: rgb(16, 101, 1);
}
.child5{
    background-color: rgb(124, 108, 2);
    min-height: 100px;
}
.child6{
    background-color: rgb(98, 4, 79);
    min-height: 100px;
} */


.parent{
    width:100%;
    height: 100%;
    background-color: rgb(116, 115, 115);
padding: 1rem;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: burlywood;
}

/* .box2{
    width: 200px;
    height: 200px;
    background-color: rgb(135, 222, 136);
  position: absolute;
  right: 0px;
  top: 0px;
} */
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(135, 222, 136);
  position: relative;
  right: 0px;
  top: 0px;
}
.box3{
    width: 300px;
    height: 300px;
    background-color: rgb(222, 135, 186);
}